%h1= t('controllers.users.confirmation.new')
= form_for(resource, :as => resource_name, :url => confirmation_url(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    .input= f.email_field :email
  .actions= f.submit translate_button('Resend confirmation instructions'), :class => [:btn, :primary]
= render 'devise/shared/links'
