%h1
  = t('operations.configure')
= form_for(resource, :as => resource_name, :url => registration_url(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    .input= f.text_field :name
  .field
    = f.label :email
    .input= f.email_field :email
  .field
    = f.label :password
    .input= f.password_field :password
  .field
    = f.label :password_confirmation
    .input= f.password_field :password_confirmation
  .field
    = f.label :current_password
    .input= f.password_field :current_password
  .actions= f.submit nil, :class => [:btn, :primary]
.etc
  %h3= translate_operation('Cancel my account')
  %p
    = link_to translate_operation('Cancel my account'), registration_url(resource_name), :confirm => translate_question('Are you sure?'), :method => :delete
= link_to translate_operation('Back'), :back
