%h1= t('operations.sign_up')
= form_for(resource, :as => resource_name, :url => registration_url(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :name
    .input= f.text_field :name
  .field
    = f.label :email
    .input= f.email_field :email
  .field
    = f.label :password
    .input= f.password_field :password
  .field
    = f.label :password_confirmation
    .input= f.password_field :password_confirmation
  .actions= f.submit translate_button('Sign up'), :class => [:btn, :primary]
= render 'devise/shared/links'
