%h1= t('operations.listing_models', :model => Equipment.model_name.human)

%table
  %tr
    %th= Equipment.human_attribute_name('name')
    %th= Equipment.human_attribute_name('content')
    %th
    %th
    %th

  - @equipments.each do |equipment|
    %tr
      %td= equipment.name
      %td= equipment.content
      %td= link_to t('operations.show_short'), equipment
      %td= link_to t('operations.edit_short'), edit_equipment_path(equipment)
      %td= link_to t('operations.destroy_short'), equipment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to t('operations.new_model', :model => Equipment.model_name.human), new_equipment_path
