%h1
  = link_to Equipment.model_name.human, equipments_path
  \>
  = @equipment.name
%p
  = @equipment.content
- @equipment.items.each_with_index do |equipment_item, i|
  = render equipment_item, :equipment => @equipment, :abstract => true, :number => i + 1
= render 'equipment_items/picture_flipper'

= link_to t('operations.edit'), edit_equipment_path(@equipment)
\|
= link_to t('operations.back'), equipments_path
