- abstract = defined?(abstract) && abstract
.equipment_item
  .sub
    .picture
      - if (product = equipment_item.products.first) && picture = product.picture(:group => "MediumImage")
        - if abstract && @equipment
          %a{ :href => equipment_equipment_item_path(@equipment, equipment_item) }
            = image_tag picture.href, :alt => product.name
        - else
          = image_tag picture.href, :alt => product.name
  .main
    - if abstract && @equipment
      = render :partial => 'equipment_items/stars', :locals => { :equipment_item => equipment_item }
      .name
        - if equipment_item.name.present?
          = link_to equipment_item.name, equipment_equipment_item_path(@equipment, equipment_item)
        - else
          = link_to 'NO NAME', equipment_equipment_item_path(@equipment, equipment_item)
    .content
      - if equipment_item.content.present?
        = equipment_item.content
      - else
        NO CONTENT
    - if equipment_item.products.present?
      %ul{ :class => 'products' + (abstract ? ' abstract' : '') }
        - number =  abstract ? 3 : 10
        - equipment_item.products.limit(number).each do |product|
          %li= link_to truncate(product.name, :length => 60), product
