%h1 Change your password
= form_for(resource, :as => resource_name, :url => password_url(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, 'New password'
    .input= f.password_field :password
  .field
    = f.label :password_confirmation, 'Confirm new password'
    .input= f.password_field :password_confirmation
  .actions= f.submit translate_button('Change my password'), :class => [:btn, :primary]
= render 'devise/shared/links'
