= form_for(record) do |f|
  = error_explanation(record)
  .field
    = f.label :name
    .input= f.text_field :name
  .field
    = f.label :peaks
    .input= text_field_tag 'peaks', '', :size => 30
    #record_peaks
      - record.peaks.each do |peak|
        .record_peak
          = peak.name
          %a{ :href => "#", :class => "ui-dialog-titlebar-close ui-corner-all", :role => "button" }
            %span{ :class => "ui-icon ui-icon-closethick" } close
          = hidden_field_tag 'record[peak_ids][]', peak.id
  .field
    = f.label :start
    .input= f.text_field :start, :value => (record.start ? l(record.start, :format => :form) : nil), :class => :datetime
  .field
    = f.label :finish
    .input= f.text_field :finish, :value => (record.finish ? l(record.finish, :format => :form) : nil), :class => :datetime
  .field
    = f.label :content
    .input= f.text_area :content, :cols => 80, :class => :xxlarge
  .actions
    = f.submit nil, :class => [:btn, :primary]
:javascript
  $('div.record_peak').button();
  $('div.record_peak a').live('click', function () {
      $(this).parents('div.record_peak').remove();
      return false;
  });
