= form_for(record) do |f|
  - if record.errors.any?
    #error_explanation
      %ul
        - record.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start
    = f.datetime_select :start
  .field
    = f.label :finish
    = f.datetime_select :finish
  .field
    = f.label :content
    = f.text_area :content, :cols => 80
  .actions
    = f.submit
