= form_for(record) do |f|
  = error_explanation(record)
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :peaks
    = select_tag 'record[peak_ids][]', options_for_select(Peak.all.collect { |peak| [peak.name, peak.id] })
  .field
    = f.label :start
    = f.text_field :start, :value => record.start.try(:to_s, :db), :class => :datetime
  .field
    = f.label :finish
    = f.text_field :finish, :value => record.finish.try(:to_s, :db), :class => :datetime
  .field
    = f.label :content
    = f.text_area :content, :cols => 80
  .actions
    = f.submit
