%h1
  = link_to Record.model_name.human, records_path
  \>
  = @record.name
= render @record

%p
  = link_to t('operations.edit'), edit_record_path(@record)
  \|
  = link_to t('operations.back'), records_path

