%h1= t('operations.listing_models', :model => Product.model_name.human)

%table
  %tr
    %th= Product.human_attribute_name('name')
    %th= Product.human_attribute_name('content')
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.content
      %td= link_to t('operations.show_short'), product
      %td= link_to t('operations.edit_short'), edit_product_path(product)
      %td= link_to t('operations.destroy_short'), product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to t('operations.new_model', :model => Item.model_name.human), new_product_path
