%p#notice= notice

%p
  %b Code:
  = @product.code
%p
  %b Name:
  = @product.name
%p
  %b Content:
  = @product.content

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
