%p#notice= notice

%p
  %b Code:
  = @product.code
%p
  %b Name:
  = @product.name
%p
  %b Content:
  = @product.content

= link_to t('operations.edit'), edit_product_path(@product)
\|
= link_to t('operations.back'), products_path
