%p#notice= notice

%h1
  = @product.name
%p
  = @product.content
%p
  = link_to truncate(@product.href, :length => 40), @product.href
- if picture = @product.pictures.where(:group => "MediumImage").first
  %p
    = render :partial => 'pictures/picture', :object => picture

= link_to t('operations.edit'), edit_product_path(@product)
\|
= link_to t('operations.back'), products_path
