%p#notice= notice

%p
  %b= Product.human_attribute_name('name')
  = @product.name
%p
  %b= Product.human_attribute_name('content')
  = @product.content

= link_to t('operations.edit'), edit_product_path(@product)
\|
= link_to t('operations.back'), products_path
