= google_map_include_tag
= form_for peak do |f|
  -if peak.errors.any?
    #error_explanation
      %h2= "#{pluralize(peak.errors.count, "error")} prohibited this peak from being saved:"
      %ul
        - peak.errors.full_messages.each do |msg|
          %li= msg

  .peak.row
    .sub.span4.columns
      .google_map
        #google_map
    .main.span10.columns
      .field
        = f.label :name
        .input
          = f.text_field :name, :placeholder => Peak.human_attribute_name(:name)
          = link_to t('operations.search_peak_again'), '#', :id => 'search_peak_again_link'
      .field
        = f.label :altitude
        .input
          = f.text_field :altitude
          m
      .field
        = f.label :latitude
        .input
          = text_field_tag "peak[location][]", peak.latitude, :size => 30, :id => 'peak_latitude'
      .field
        = f.label :longitude
        .input
          = text_field_tag "peak[location][]", peak.longitude, :size => 30, :id => 'peak_longitude'

  .actions
    = f.submit nil, :class => [:btn, :primary]
:javascript
  $(function () {
      $('#peak_latitude, #peak_longitude').change(function () {
          var latitude, longitude;
          latitude = $('#peak_latitude').val();
          longitude = $('#peak_longitude').val();
          var position = yamadb.google_map.position(latitude, longitude);
          if (position) {
            yamadb.google_map.markers[0].setPosition(position);
            yamadb.google_map.map.setCenter(position);
          }
      });
      $('#search_peak_again_link').live('click', function () {
          window.location = '/peaks/#{peak.new? ? 'new' : "#{peak.id}/edit" }?peak[name]=' + $('#peak_name').val();
          return false;
      });
      var latitude, longitude;
      latitude = '#{peak.latitude}';
      longitude = '#{peak.longitude}';
      var position = yamadb.google_map.position(latitude, longitude);
      if (position) {
        yamadb.google_map.locate_peak('#{peak.name || 'NO NAME'}', latitude, longitude);
        yamadb.google_map.map.setCenter(position);
      }
      yamadb.form.disable_submission_by_enter();
  })
