- abstract = defined?(abstract) && abstract
- number = defined?(number) && number
.peak
  .sub
    .google_map
      - if peak.location.present? && peak.location.size == 2
        - image = image_tag "http://maps.google.com/maps/api/staticmap?center=#{peak.location[0]},#{peak.location[1]}&zoom=10&size=160x160&sensor=false"
      - else
        - image = image_tag '/images/common/no_picture.png'
      - if abstract
        %a{ :href => peak_path(peak) }= image
      - else
        = image
  .main
    - if abstract
      .name
        - if peak.name.present?
          - if number
            - peak_item_name = "#{number}. #{peak.name}"
          - else
            - peak_item_name = peak_item.name
        - else
          - if number
            - peak_item_name = "#{number}. NO NAME"
          - else
            - peak_item_name = "NO NAME"
        = link_to peak_item_name, peak
    %div{ :class => 'content' + (abstract ? ' abstract' : '') }
      - unless abstract
        %h2
          = t('information.peak')
      %p
        %strong= Peak.human_attribute_name('altitude')
        - if peak.altitude
          #{peak.altitude}m
      %p
        %strong= t('information.map')
        = link_to t('websites.google_map'), google_map_url(:latitude => peak.latitude, :longitude => peak.longitude), :target => :_blank
        = link_to t('websites.watchizu'), watchizu_url(:latitude => peak.latitude, :longitude => peak.longitude), :target => :_blank
      - unless abstract
        %p
          %strong= Map.model_name.human
          = peak.map.name if peak.map
        %p
          %strong= Peak.human_attribute_name('latitude')
          = number_with_precision(peak.latitude, :precision => 2)
        %p
          %strong= Peak.human_attribute_name('longitude')
          = number_with_precision(peak.longitude, :precision => 2)

      - unless abstract
        %h2
          = WeatherForecast.model_name.human
          = link_to_source(wunderground_url)
      .weathers
        - WeatherForecast.find_this_week(peak.latitude, peak.longitude).each do |weather|
          .weather
            .icon
              - condition = weather.condition.sub(/(tstorms|stroms)/, 'rain')
              - if condition =~ /chance/
                = image_tag WeatherForecast.icon_url(condition), :class => :chance
                %br
                = t('information.sometimes')
              - else
                = image_tag WeatherForecast.icon_url(condition), :class => :normal
            .date= l weather.at.to_date, :format => :weather
      - unless abstract
        %h2
          = t('information.twitter')
          = link_to_source(twitter_url)
        - @twitter_search.each do |tweet|
          - href = "http://twitter.com/#!/#{tweet.from_user}"
          .tweet{ :id => tweet.id }
            .icon
              = link_to image_tag(tweet.profile_image_url), href, :target => :_blank
            .name
              = link_to "@#{tweet.from_user}", href, :target => :_blank
            %p
              = htmlify tweet.text
