%h1= t('operations.listing_models', :model => Peak.model_name.human)
- @peaks.each_with_index do |peak, i|
  = render :partial => 'peaks/peak', :object => peak, :locals => { :abstract => true, :number => i + 1 }

%br
%h2
  = t('operations.new_model', :model => Peak.model_name.human)

= form_for Peak.new, :url => new_peak_path, :html => { :method => :get } do |f|
  = f.text_field :name, :placeholder => Peak.human_attribute_name(:name)
  = f.submit t('operations.new')
