%h1= t('operations.listing_models', :model => Peak.model_name.human)

%table
  %tr
    %th Name
    %th Altitude
    %th
    %th
    %th

  - @peaks.each do |peak|
    %tr
      %td= peak.name
      %td= peak.altitude
      %td= link_to 'Show', peak
      %td= link_to 'Edit', edit_peak_path(peak)
      %td= link_to 'Destroy', peak, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Peak', new_peak_path
