%p#notice= notice

%p
  %b Name:
  = @peak.name
%p
  %b Altitude:
  = @peak.altitude
%p
  %b Latitude:
  = @peak.latitude
%p
  %b Longitude:
  = @peak.longitude

= link_to 'Edit', edit_peak_path(@peak)
\|
= link_to 'Back', peaks_path
