%h1
  = link_to Peak.model_name.human, peaks_path
  \>
  = @peak.name
= render :partial => 'peaks/peak', :object => @peak, :locals => { :abstract => false }

= link_to t('operations.edit'), edit_peak_path(@peak)
\|
= link_to t('operations.back'), peaks_path
