- if controller_name == "main" && action_name == "index"
  %h1
    = link_to "YamaDB", root_path
- else
  %h2
    = link_to "YamaDB", root_path
%p#abstract
  To trek or climb Japanese mountains more safely,
#notice>
  - if flash[:alert].present?
    %span.alert= flash[:alert]
  = notice
#sign_up_or_in
  - if user_signed_in?
    = link_to t('operations.configure_short'), edit_user_registration_url
    \|
    = link_to t('operations.sign_out'), destroy_user_session_url, :method => :delete
  - else
    = link_to t('operations.sign_up'), new_user_registration_url
    \|
    = link_to t('operations.sign_in'), new_user_session_url
#locales
  - Yamadb::LOCALES.each do |locale|
    = link_to image_tag("/images/locales/#{locale}.png"), params.merge(:locale => locale)
#search_form
  = form_tag(peaks_path, :method => :get) do
    = text_field_tag :query, params[:query], :type => :search
    = submit_tag translate_button('Search')
