%h3
  = link_to "YamaDB", root_url(:protocol => 'http')
%ul
  %li= link_to "HOME", root_url(:protocol => 'http')
%ul#sign_up_or_in.secondary-nav
  - if user_signed_in?
    %li= link_to t('operations.configure_short'), edit_user_registration_url(:protocol => 'https')
    %li= link_to t('operations.sign_out'), destroy_user_session_url(:protocol => 'https'), :method => :delete
  - else
    %li= link_to t('operations.sign_up'), new_user_registration_url(:protocol => 'https')
    %li= link_to t('operations.sign_in'), new_user_session_url(:protocol => 'https')
%ul#locales.secondary-nav
  - Yamadb::LOCALES.each do |locale|
    %li= link_to image_tag("/images/locales/#{locale}.png"), params.merge(:locale => locale, :protocol => 'http')
= form_tag(peaks_path, :method => :get) do
  = text_field_tag :query, params[:query], :type => :search
