- if controller_name == "main" && action_name == "index"
  %h1
    = link_to "YamaDB", root_path
- else
  %h2
    = link_to "YamaDB", root_path
%p#abstract
  To trek or climb Japanese mountains more safely,
#sign_up_or_in
  - if user_signed_in?
    = link_to 'Sign Out', destroy_user_session_path, :method => :delete
  - else
    = link_to 'Sign Up', new_user_registration_path
    , or
    = link_to 'Sign In', new_user_session_path
#locales
  - Yamadb::LOCALES.each do |locale|
    = link_to image_tag("/images/locales/#{locale}.png"), { :locale => locale }

