!!!
%html
  %head
    %title
      - if controller_name == 'main' && action_name == 'index'
        YamaDB
      - elsif (actions = I18n.t('controllers')[controller_name.to_sym]) && (subtitle = actions[action_name.to_sym])
        #{subtitle} | YamaDB
      - else
        YamaDB
    = stylesheet_link_tag 'bootstrap.min', 'structures', 'application'
    = stylesheet_link_tag 'jquery.rating'
    = stylesheet_link_tag 'jquery-ui'
    = stylesheet_link_tag 'jquery.ui.datetimepicker'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.rating.min'
    = javascript_include_tag 'jquery.truncate.min'
    = javascript_include_tag 'jquery.ui.datetimepicker'
    = javascript_include_tag 'jquery.ui.datetimepicker.ja'
    = csrf_meta_tag
  %body
    #global_container
      #head_container.topbar
        .fill
          .container
            = render 'layouts/head'
      #body_container
        .container
          .row
            #side_container.span2.columns
              = render 'layouts/side'
            #main_container.span14.columns
              = yield
      #foot_container.container
        = render 'layouts/foot'
